*{
  box-sizing: border-box;
}
img{
  border:5px solid silver;
  width:200px;
  height: 200px;
}
/* ********** simple animation******* */
img:hover{
  animation:wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {200px;
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
body {
  background: #000;
}
/* ********************************** */

.card-column{
  
  padding:2rem;
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
  /* align-items: center; */
  background-color: white;
  row-gap: 3rem;
}
.card-column:hover{
  cursor: pointer;
 
}
.card-column {
  padding:1rem;
  flex:1;
  background-color:teal;
  color: white;
}

.container{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-color-0{
  background-color: rgb(182, 82, 11);
}
.card-color-1{
  background-color: rgb(19, 81, 139);
}
.card-color-2{
  background-color:rgb(136, 166, 136);
}
.card-color-3{
background-color: rgb(1,22,1);
}
.card-color-4{
  background-color:#A38BE1;
}
@media screen and (max-width:500px){
  .container{
    grid-template-columns: 1fr;

  }
}
