@import "https://www.w3schools.com/w3css/4/w3.css";

body {

 background-color: black;
 padding: 0.8rem;
 color: white;
 margin:0;


}


body > .CHAPTER, body >.SECT{


}



.PROGRAMLISTING {
 background-color: black;
 color: yellow;
 padding: 0.5rem;

}

.VARIABLELIST dl dd {
 color: rgb(93, 93, 250);
 padding-left: 0.2rem;
 margin:0 4px;

}

.SCREEN * {
 color: green;
 background-color: rgb(236, 228, 215);
}

td img {
 width: 50px;
}

h3.footnotes {
 background-color: #ffdddd;
 border-left: 6px solid #f44336;
 color: blue;
 padding-left: 0.5rem;
}

.NAVFOOTER,
.NAVHEADER {
 background-color: rgb(86, 131, 131);
 color: white;
 font-size: 1.3rem;

}

.NAVFOOTER hr,
.NAVHEADER hr {
 display: none;
}

.NAVFOOTER *,
.NAVHEADER * {
 color: white;
}


.TOKEN,
.COMMAND {
 color: green;
 font-weight: bold;
}

p>table td {
 padding: 0.2rem;
}

.varname {
 color: #FFF49B;
}

/* .FIRSTTERM {} */

span.QUOTE {
 color: orange;
}

/* h1.sect1 {} */

dt tt i {
 color: #F7C0F0;
}

table {
 width: auto;
}
p a{
 color:lightblue;
}
p{
 color:white;
}
@import "https://www.w3schools.com/w3css/4/w3pro.css" screen and (max-width: 550px);